<div class="w-full h-full flex flex-col justify-between">
    <div class="absolute top-4 left-4">
        <i class="pi pi-cog" style="font-size: 2rem" (click)="onSettingsClick()"></i>
    </div>
    <div class="flex w-full align-middle justify-center">
        <p class="flex align-middle justify-center">
            {{ dataService.currentPlayer()!.name }}
            &nbsp;-&nbsp;
            {{ displayMs(dataService.currentPlayer()!.timer) }}
        </p>
    </div>
    <div class="flex w-full align-middle justify-around">
        <i [class]="playBtnClass()" style="font-size: 4rem" (click)="timerPaused.set(!timerPaused())"></i>
    </div>
    <div class="flex w-full align-middle justify-center">
        <span style="font-size: 2rem">
            {{ 'global.nextPlayer' | transloco: { name: dataService.nextPlayer()!.name } }}
        </span>
        &nbsp;
        <i class="pi pi-arrow-right" style="font-size: 4rem" (click)="onNextPlayerClick()"></i>
    </div>
</div>
